
<div class="row">
    <div class="col-10 m-auto">
        <img src="../images/passport.jpg" class="card-img-top">
        <div class="card">
            
            <div class="card-body">
                <h1 class="card-title">About Project</h1>
                <p class="card-text">Authentication is an essential element of web applications. This project utilizes the passport JS library to authenticate a user.</p>
      
                <p>A user can create an account using a preferred username, email, and password. Their credentials are saved to a mongo dB database using mongoose. User can login using the correct login credentials. The credentials are authenticated using passport JS local strategy. Passport JS is also used to protect routes that require a user to be authenticated before viewing a page.</p>

                <p>Views (UI) are designed using the Embedded JavaScript (EJS) templating engine. EJS provides an easy way to generate HTML tag using plain JavaScript. In addition, it incorporates simple syntax that is easy to learn and use.
                </p>

                <h1>How to use the Website</h1>
                <p>
                    <ul>
                        <li>User creates an account using Username and email</li>
                        <li>User will be directed to a login page if registration was succesful</li>
                        <li>User can use the new login credentials to login</li>
                        <li>If login is succesful then user will be directed to the home page</li>
                    </ul> 
                </p>

                <p>
                    Try it
                <a href="/register" class="btn btn-dark" style="text-decoration: none; margin: 10px;">Sign up</a>
                or
                <a href="/login"  class="btn btn-dark" style="text-decoration: none; margin: 10px;">Sign in</a>                
                </p>

                <p><a href="/images" class="card-title" style="text-decoration: none;">Image Credit</a></p>

            </div>
        </div>
    </div>
</div>