<div class="row mt-5">
    <div class="col-6 m-auto">
        <div class="card">

            <div class="card-body">
                <img src="../images/passport.jpg" class="card-img-top">
                <h4 style="margin-top: 10px;">Image by  @blakeguidry</h4>
            </div>
        </div>
    </div> 

    
    <div class="col-6 m-auto">
        <div class="card">
            <div class="card-body">
                <img src="../images/welcome.jpg" class="card-img-top">
                <h4 style="margin-top: 10px; ">Image by  @hoodyk</h4>
                
            </div>
        </div>

    </div>

</div>

<div class="container" style="margin: 50px 0;">
    <div class="card" style="margin: auto;">
        <div class="card-body">
            <h5>
                Go to home?
                <a href="/" style="text-decoration: none;">Home</a>
            </h5>
            
        </div>
    </div>
    
</div>


  