
<div class="row ">
    <div class="col-7 m-auto">
        <img src="../images/welcome.jpg" class="card-img-top">
        <div class="card">
            
            <div class="card-body">
                <h1 class="card-title">Welcome <%= username %></h1>
                
                <p>
                <a href="/logout" title="HOME" class="btn btn-dark" style="text-decoration: none;">Logout</a>
                </p>
                
            </div>
        </div>
    </div>
</div>